/*
    Folha de esilo do site professor.com
    @author Professor José de Assis
    @link 
/*

/* Layout _______________________________ */

/* Variaveis */
:root {
    --Cinza: #575757;
    --RoxoClaro: #4b0082;
    --RoxoEscuro: #2e1a47;
    --Preto: #000000;
    --Branco: #ffffff;
}


/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

.container {
    display: flex;
    margin: 0 auto;


}

.layout {
    margin: 0;
}

/* Botão */
.btn {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: #2e1a47;
    padding: 10px 40px;
    color: var(--Branco);
    border-radius: 20px;
    border: 0.5px solid var(--Branco);
}
/* Albuns */
.card{
    width: 340px;
    height: 500px;
    background-color: #2e1a47;
    margin-top: 25px;
    border: 2px solid #4b0082;
    border-radius: 25px;

}
.card img{
    border-radius: 25px 25px 0px 0px;
}
.card h2{
    font-size: 1.2rem;
    margin: 15px 0px;
    margin-left: 25%;
}
.card p{
    padding: 0px 10px 30px 10px;
    font-size: 1.1rem;
    text-align: center;
}
.btn2 {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: #2e1a47;
    padding: 10px 40px;
    color: var(--Branco);
    border-radius: 20px;
    border: 0.5px solid var(--Branco);
}
.card .btn2{
    margin-left: 30%;
    
}



/* Fim Layout_____________________________________________ */

/*  Smartphone portrait___________________________________ */
/* Cabeçalho */
header {
    height: 65px;
    background-color: #4b0082;
}

/* Esconder CheckBox */
#check {
    display: none;

}

label {
    font-size: 3rem;
    color: rgba(46, 26, 71);
    position: fixed;
    top: 5px;
    right: 15px;
}

nav ul {
    list-style: none;
    height: 100vh;
    position: fixed;
    top: 60px;
    background-color: rgba(75, 0, 130);
    width: 50%;
    /* Ajustar com Width */
    right: -50%;
    transition: all 0.5s;
}

/* Ação para a CheckBox quando selecionada mudar ul */
#check:checked~ul {
    right: 0;
}

nav ul li {
    padding: 20px;
    border-bottom: 1px solid var(--Preto);
    text-align: right;
}

nav ul li a {
    text-decoration: none;
    color: var(--Branco);

}

/* Principal */
main {
    height: 40vh;
    background: url('./img/banner1.jpg');
    background-size: cover;
    background-position: center;
}

main .container {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    color: var(--Branco);
    font-family: embassy BT;
    font-weight: 500;
    font-size: 3rem;
    text-shadow: #2e1a47 2px 2px 4px;
}

main h2 {
    color: var(--Branco);
    font-family: embassy BT;
    font-size: 2rem;
    font-weight: 500;
    text-shadow: #2e1a47 2px 2px 4px;
    margin-bottom: 30px;
}
/* Destaque */
#destaque {
    padding: 50px 10px;
    background-color: var(--RoxoEscuro);
    color: var(--Branco);
}
#destaque .container {
    flex-direction: column;
}
#hero {
text-align: center;
}
#hero img {
    width: 300px;
    height: 300px;
    margin-bottom: 25px;
}
.hero-text {
    font-size: 1rem;
    color: var(--Branco);
    margin-bottom: 15px;
}
.hero-text p {
    color: var(--Branco);
}
.topic {
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.topic p {
    margin-left: 15px;
}
/* Sobre */
#sobre {
    padding: 50px 10px;
    background-color: #575757;
}

#sobre .container {
    flex-direction: column;
}

#descricao h2,
p {
    color: var(--branco);
}

#descricao h2 {
    margin-bottom: 15px;
    font-size: 1.9rem;
}

#video {
    text-align: center;
}

#video iframe {
    margin-top: 50px;
    width: 355px;
    height: 196px;
}

/* Wireframe  */
   #qrcode img{
        display: none;
    }
/* Cartões  */
#albuns{
    background-color: #575757;
}
#albuns .container{
    flex-direction: column;
    padding: 50px 0px;

}


/*  Fim Smartphone portrait_______________________________ */

/*  Smartphone landscape__________________________________ */
@media (min-width: 576px) {

    /* Layout */
    .container {
        max-width: 540px;
    }

    /* Cabeçalho */
    nav ul {
        width: 40%;
        /* Ajustar com Width */
        right: -40%;
    }
    /* Principal */
    main{
        height: 70vh;
    }
    main h1{
        font-size: 4rem;
    }
    main h2{
        font-size: 2rem;
    }

    /* Destaque */
    #destaque {
        padding: 50px 0px;
    }
    #destaque .container {
        flex-direction: row;
        align-items: center;
    }
    #hero {
        text-align: left;
    }
    #hero img {
        width: 200px;
        height: 200px;
        margin: 0px 25px 0px 0px; 
    }
    .topic {
        display: none;
    }
    /* Sobre */
    #sobre{
        align-items: center;
    }
    #video iframe{
        width: 500px;
        height: 300px;
    }
}

/*  Fim Smartphone landscape______________________________ */

/*  Tablet portrait_______________________________________ */
@media (min-width: 768px) {

    /* Layout */
    .container {
        max-width: 720px;
    }
        /* Principal */
    main{
        height: 50vh;
    }
    main h1{
        font-size: 5rem;
    }
    main h2{
        font-size: 3rem;
    }
    /* Destaque */
    #destaque {
        padding:  50px 20px;
    }
    #destaque .container {
        flex-direction: row;
        align-items: center;
    }
    #hero {
        text-align: left;
    }
    #hero img {
        width: 250px;
        height: 250px;
        margin: 0px 25px 0px 0px; 
    }
    .topic {
        display: flex;
        align-items: left;
    }
}


/*  Fim Tablet portrait___________________________________ */

/*  Tablet landscape______________________________________ */
@media (min-width: 992px) {

    /* Layout */
    .container {
        max-width: 960px;
    }
    /* Principal */
    main{
        height: 50vh;
    }
}


/*  Fim Tablet landscape__________________________________ */

/*  Notebook / PC - HD____________________________________ */
@media (min-width: 1200px) {

    /* Layout */
    .container {
        justify-content: space-between;
        max-width: 1140px;
    }

    header {
        height: 100px;
    }

    .logo img {
        width: 194px;
        height: 194px;
    }

    label {
        display: none;
    }

    nav ul {
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: 50px;
    }

    nav ul li {
        float: left;
        border: 0;
    }

    nav ul li a:hover {
        color: var(--RoxoClaro);
    }
    main {
        height: 50vh;
    }
    /* Destaque */
    #destaque {
        /* background-attachment: fixed;  */
    }
    #hero img {
        width: 300px;
        height: 300px;
    }
    .hero-text h2 {
        font-size: 2rem;
    }
    .topic {
        display: flex;
        align-items: left;
    }
    /* Sobre */
    .sobre-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    text-align: center;

    
    }
    .sobre-container div {
    max-width: 600px;
    flex: 1 1 45%;
    }
    
    #descricao p, h2 {
        display: flex;
        font-size: 1.1rem;
        color: var(--Branco);
        text-align: justify; 
        padding: 5px;
    }
   
    #video iframe {
        width: 460px;
        height: 290px;
        border: none;
    }
    /* Wireframe */
#wireframe {
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    padding: 80px 0;
    background: url(img/wire.jpg) center/cover no-repeat;
    background-attachment: fixed;
    color: var(--branco);
    display: flex;
    justify-content: center;
}

#wireframe .Container.Flex2 {
    max-width: 1200px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

/* Texto */
#textoWire {
    flex: 1;
    min-width: 300px;
}

#textoWire h2 {
    color: var(--dourado);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: left;
}

#textoWire p {
    color: var(--branco);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
    text-align: left;
    margin-bottom: 25px;
}



    #qrcode img{
        width: 180px;
        height: auto;
        border-radius: 8px;
        display: block;
    }
    .Botao {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: #2e1a47;
    padding: 10px 40px;
    color: var(--Branco);
    border-radius: 20px;
    border: 0.5px solid var(--Branco);
    }

}
/* Rodapé */

.rodape{
    background-color: #4b0082;
}
/*  Fim Notebook / PC - HD________________________________ */

/*  Notebook / PC / TV - Full HD ou 4K____________________ */
@media (min-width: 1400px) {

    /* Layout */
    .container {
        max-width: 1320px;
    }
    /*Principal */
    main h1{
        font-size: 6rem;
    }
    main h2{
        font-size: 4rem;
    }

}


/*  Fim Notebook / PC / TV - Full HD ou 4K________________ */